{% extends 'layout.html.twig' %}

{% block sub_title 'Backlog' %}

{% block javascript %}
    <script src="http://{{ app.request.server.get('HTTP_HOST') }}/js/backlog.js" type="application/javascript"></script>
{% endblock javascript %}
{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="http://{{ app.request.server.get('HTTP_HOST') }}/css/backlog.css">
{% endblock stylesheet %}

{% block projetoCabecalho %}
    <span id="projetoBacklog" data-id="{{ projeto.id }}">{{ projeto.nome }}</span>
{% endblock %}

{% block body %}
    <table class="table table-bordered" id="backlogTable">
        <thead>
        <tr>
            <th style="width: 460px;">To do
                <span class="glyphicon glyphicon-plus" style="padding:5px;" id="to_do" data-toggle="modal" data-target="#modalTarefa"></span>
                <span class="totalHorasTarefa">00h</span>
            </th>
            <th style="width: 300px">In Progress</th>
            <th>Done</th>
        </tr>
        </thead>
        <tbody class="table-bordered">
            <tr>
                <td class="to_do_{{ projeto.id }}" style></td>
                <td class="progress_{{ projeto.id }}"></td>
                <td class="done_{{ projeto.id }}"></td>
            </tr>
            {% if tarefa|length > 0 %}
            {% endif %}
        </tbody>
        <tfoot>
        </tfoot>
    </table>
    {% include 'backlog/tarefa.html.twig' %}
    {% include 'backlog/backlogForm.html.twig' %}
    <div id="jsonTarefas" style="display: none">{{ tarefa }}</div>
{% endblock body %}